.container {
  padding: 20px;
}

.loading-center {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
}
